<div class="container-fluid m-0 p-0">
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">One Piece</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="auth/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Calculator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="todolist">Todo List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="webchat">ChatBox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tictaktoe">TicTakToe</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
</div>