<div class="container-fluid p-0">
    <div class="card" id="thebackgoundImgCard">
      <!-- <img id="card-image" src="../../../../assets/images/bgimage3.jpg" class="card-img" alt="..."/> -->
      <div class="card-img-overlay">
        <div class="d-flex justify-content-end">
           <div class="card bg-transparent p-3 border-0">
             <div class="card-body">
                <label class="text-info" style="font-size: 10vw;">Welcome</label>
                 <h3 class="h3 text-center">A multi-purpose application platform</h3>
                 <h3 class="my-5 text-center" style="color:darkgray">Enjoy our featured platform<br>
                by creating a free account.</h3>
                <div class="text-center">
                    <a class="btn btn-outline-info px-5 py-3" routerLink="auth/signup">
                       Sign Up
                    </a>
                </div>
                <div class=" text-center my-3">
                    <label class="text-lighth6">Already have an account ?</label>
                </div>
                
                <div class="text-center">
                    <a class="btn btn-outline-warning px-5 py-3" routerLink="auth/login">
                      Login
                    </a>
                </div>
             </div>
           </div>
        </div>
      </div>
    </div>
</div>