<div id="outerdiv">
    <div class="card bg-light p-5">
        <div class="card-body">
          <form>
            <h4 class="text-center my-3">Login</h4>
            <label class="fw-semibold">Email</label>
            <input type="text" class="form-control"/>
            <br>
            <label class="fw-semibold">Password</label>
            <input type="text" class="form-control"/>
            <br>
            <div class="text-center mx-3 my-4">
                <button class="btn btn-primary px-4 fs-6 fw-semibold">Login</button>
            </div>
            
          </form>
          <div class="my-2">
            <a routerLink="signup">Create a new account</a>
            <br><br>
            <a routerLink="forgetpassword">Forget Password</a>
          </div>
        </div>
    </div>
</div>

